<div ng-controller="HourController">
  <h1>Got Data: {{success}}</h1>
  <p>Errors: {{error}}</p>
  <p>Purchases: {{iosYearly + iosUnlimited + androidYearly + androidUnlimited}}</p>

  <table border="1">
    <tr>
      <td></td>
      <th>Android</th>
      <th>iOS</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>Yearly</th>
      <td>{{androidYearly}}</td>
      <td>{{iosYearly}}</td>
      <td>{{androidYearly + iosYearly}}</td>
    </tr>
    <tr>
      <th>Unlimited</th>
      <td>{{androidUnlimited}}</td>
      <td>{{iosUnlimited}}</td>
      <td>{{androidUnlimited + iosUnlimited}}</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>{{androidYearly + androidUnlimited}}</td>
      <td>{{iosYearly + iosUnlimited}}</td>
      <td>{{iosYearly + iosUnlimited + androidYearly + androidUnlimited}}</td>
  </table>

  <input type="checkbox" ng-model="monies"> Monies<br>
  <input type="checkbox" ng-model="grouped"> Grouped<br>
  <input type="checkbox" ng-model="iosYearlySelected"> iOS Yearly<br>
  <input type="checkbox" ng-model="iosUnlimitedSelected"> iOS Unlimited<br>
  <input type="checkbox" ng-model="androidYearlySelected"> Android Yearly<br>
  <input type="checkbox" ng-model="androidUnlimitedSelected"> Android Unlimited<br>

  <br>
  <br>

  {{yMax}}
  <ml-year-graph val="data" grouped="grouped" ymax="yMax"></ml-year-graph>
</div>