<div ng-controller="HourController">
  <p>This is a <a href="#">sentence</a> with a tooltip</p>
  <h1>Got Data: {{success}}</h1>
  <p>Errors: {{error}}</p>
  <p>Pages Loaded: {{page}}</p>
  <p>Purchases: {{hourCount}}</p>

  <table border="1">
    <tr>
      <td></td>
      <th>Android</th>
      <th>iOS</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>Yearly</th>
      <td>{{android_yearly}}</td>
      <td>{{ios_yearly}}</td>
      <td>{{android_yearly + ios_yearly}}</td>
    </tr>
    <tr>
      <th>Unlimited</th>
      <td>{{android_unlimited}}</td>
      <td>{{ios_unlimited}}</td>
      <td>{{android_unlimited + ios_unlimited}}</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>{{android_yearly + android_unlimited}}</td>
      <td>{{ios_yearly + ios_unlimited}}</td>
      <td>{{ios_yearly + ios_unlimited + android_yearly + android_unlimited}}</td>
  </table>

  <input type="checkbox" ng-model="grouped"> Grouped<br>
  <input type="checkbox" ng-model="iOSYearly"> iOS Yearly<br>
  <input type="checkbox" ng-model="iOSUnlimited"> iOS Unlimited<br>
  <input type="checkbox" ng-model="androidYearly"> Android Yearly<br>
  <input type="checkbox" ng-model="androidUnlimited"> Android Unlimited<br>

  <br>
  <br>

  <ml-year-graph val="data" grouped="grouped"></ml-year-graph>
</div>